{% extends 'conveniencia/base.html' %} {% block pageContent %}
  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div
      class="mdc-card mdc-card--outlined"
      style="max-width: 800px; margin: 0 auto; padding: 20px"
    >
      <div class="d-flex justify-content-between mb-4">
        <h4 class="card-title mb-0">Sobre o Sistema de vendas</h4>
      </div>
      <div class="mdc-card__content">
        <p>
          O <strong>Sistema Vendas</strong> é uma plataforma completa
          desenvolvida para facilitar o gerenciamento de produtos e vendas em
          mercados e mercearias. Seu principal objetivo é tornar o processo de
          gestão de estoque e transações de vendas mais ágil e eficiente.
        </p>
        <p>
          Com o Sistema Vendas, você pode cadastrar produtos, organizá-los em
          categorias específicas e realizar vendas diretamente através da
          interface de Sistema de Vendas. Além disso, a plataforma oferece
          relatórios detalhados que ajudam no controle das vendas, permitindo uma
          visão clara do desempenho do seu negócio.
        </p>
        <p>
          Este projeto foi desenvolvido com o intuito de proporcionar uma solução
          prática e eficaz para o setor de varejo, trazendo inovação no
          gerenciamento de estoque e no processo de vendas.
        </p>
      </div>
    </div>
  </div>
  <hr />

{% endblock pageContent %}